@tailwind base;
@tailwind components;
@tailwind utilities;


.boton-1 {
    @apply text-white bg-orange-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}

/* Asegurarse de que el contenedor del gráfico sea flexiblemente responsivo */
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 100%; /* Se asegura de que el ancho no exceda la pantalla */
}

/* Añadir un ancho máximo y hacer el gráfico responsivo */
.chart-wrapper {
  width: 100%;
  max-width: 1000px; /* Limita el ancho del gráfico a 1000px, puedes ajustarlo según tu necesidad */
  height: 60vh; /* Ajustar la altura del gráfico basado en el viewport height (60% de la altura de la ventana) */
}

@media (max-width: 768px) {
  /* Para pantallas más pequeñas */
  .chart-wrapper {
    height: 50vh; /* Ajustar la altura para pantallas más pequeñas */
  }
}

/* Contenedor que fija el contenido superior (título y dropdown) */
.sticky-top-container {
    position: sticky;
    top: 0; /* Fija el contenido al principio de la página */
    z-index: 50; /* Asegura que esté encima de otros elementos */
    background-color: inherit; /* Mantiene el fondo */
  }
  
  /* Fija el contenido (título y filtro) en la parte superior */
  .sticky-top-content {
    background-color: inherit;
    padding: 1rem;
  }
  
  /* Hace que el encabezado de la tabla sea fijo */
  .sticky-table-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f9fafb; /* Fondo claro para el encabezado */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
  }
  
  /* Contenedor de la tabla con scroll horizontal */
  .table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en móviles */
  }
  
  .table-wrapper {
    width: 100%;
    display: block;
  }
  
  table th, table td {
    white-space: nowrap; /* Evita que el contenido de las celdas se desborde */
    padding: 0.75rem 1.5rem;
  }
  
  /* Ajuste para pantallas más pequeñas */
  @media (max-width: 768px) {
    table th, table td {
      padding: 0.5rem;
    }
  }
